
/*==========================
          Service
==========================*/

#services {
    background: var(--body-timeline);
    clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 92%, 0 100%);
  }
  
  .services-box-container {
    width: 90%;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }
  
  .service-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 20px 20px 20px;
  }
  
  .service-box i {
    font-size: 2.5rem;
    background: linear-gradient(90deg, var(--primary) 20%, var(--secondary));
    margin-bottom: 10px;
    margin-right: auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .service-box p {
    color: var(--text);
    font-size: 0.95rem;
  }
  
  .service-box strong {
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 1px;
    color: var(--title);
  }
  
  .service-logo {
    content: url('https://res.cloudinary.com/dpykpv9hd/image/upload/v1630411185/zmlsfuez7zg2wnfmhb5j.png');
    filter: var(--filter);
  }