
/*===========================
          Portfolio
===========================*/

.buttonText {
    color: var(--ternary);
  }
  
  .project-logo {
    content: url('https://res.cloudinary.com/dpykpv9hd/image/upload/v1630411640/ilrj5yuxggw4hkbtfym2.png');
    filter: var(--filter);
  }
  
  #portfolio .portfolio-nav {
    text-align: center;
    margin: 30px 0 60px;
  }
  
  #portfolio .portfolio-nav ul li {
    display: inline-block;
    margin: 15px 15px !important;
    position: relative;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 14px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
    text-transform: capitalize;
    text-transform: uppercase;
    font-weight: 600;
    background-color: var(--secondary);
  }
  
  #portfolio .portfolio-nav ul li:last-child {
    margin: 0;
  }
  
  #portfolio .portfolio-nav ul li.active, #portfolio .portfolio-nav ul li:hover {
    color: #fff;
  }
  
  #portfolio .portfolio-nav ul li span {
    position: absolute;
    top: -31px;
    border-radius: 5px;
    font-size: 13px;
    line-height: 20px;
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: var(--button-color);
    opacity: 0;
    visibility: hidden;
    padding: 2px 10px;
    font-size: 12px;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  
  #portfolio .portfolio-nav ul li span::before {
    position: absolute;
    left: 50%;
    bottom: -5px;
    content: '';
    border-top: 5px solid;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    margin-left: -5px;
  }
  
  #portfolio .portfolio-nav ul li.active span, #portfolio .portfolio-nav ul li:hover span {
    opacity: 1;
    visibility: visible;
    transform: translateY(0%);
  }
  
  #portfolio .portfolio-nav ul li i {
    margin-right: 10px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  
  #portfolio .portfolio-nav ul li.active i, #portfolio .portfolio-nav ul li:hover i {
    color: #fff;
  }
  
  #portfolio {
    overflow: hidden;
  }
  
  #portfolio .row.stylex {
    margin: 0;
  }
  
  #portfolio .col-fix {
    padding: 0;
  }
  
  #portfolio .no-margin {
    margin: 0;
  }
  
  #portfolio .portfolio-single {
    position: relative;
    transition: all 0.3s ease;
    overflow: hidden;
  }
  
  #portfolio .portfolio-single .btn {
    position: absolute;
    width: 42px;
    height: 42px;
    line-height: 42px;
    font-size: 40px;
    text-align: center;
    color: #fff;
    z-index: 33;
    cursor: pointer;
    border-radius: 0px;
    bottom: 0;
    right: -100px;
    padding: 0;
  }
  
  #portfolio .portfolio-single:hover .btn {
    right: 0;
  }
  
  #portfolio .portfolio-head {
    position: relative;
  }
  
  #portfolio .portfolio-head::before {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(5, 5, 5, 0.9);
    content: '';
    visibility: hidden;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    transform: translateX(-100%);
    left: 0;
    z-index: 11;
  }
  
  #portfolio .portfolio-single:hover .portfolio-head:before {
    visibility: visible;
    -webkit-transform: translateY(0%);
    -moz-transform: translateX(0%);
    transform: translateX(0%);
  }
  
  #portfolio .portfolio-head img {
    width: 100%;
    z-index: 10;
  }
  
  #portfolio .portfolio-single:hover img {
    transform: scale(1.1);
  }
  
  #portfolio .portfolio-hover {
    position: absolute;
    top: 0;
    z-index: 20;
    color: #fff;
    top: 50%;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    opacity: 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  
  #portfolio .portfolio-single:hover .portfolio-hover {
    opacity: 1;
    visibility: visible;
  }
  
  #portfolio .portfolio-hover h4 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    margin: -45px 0 15px;
    position: relative;
    top: -20px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
  }
  
  #portfolio .portfolio-single:hover h4 {
    top: 0;
  }
  
  #portfolio .portfolio-hover p {
    position: relative;
    bottom: -20px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
  }
  
  #portfolio .portfolio-single:hover p {
    bottom: 0;
  }
  
  #portfolio .portfolio-hover span {
    font-size: 16px;
    display: block;
    font-style: italic;
    margin-bottom: 5px;
    text-transform: capitalize;
  }
  
  #portfolio .portfolio-hover h4 a {
    color: #fff;
  }
  
  #portfolio .portfolio-hover p {
    color: #fff;
  }
  
  #portfolio .portfolio-hover .button {
    margin-top: 15px;
    position: relative;
    bottom: -20px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
  }
  
  #portfolio .portfolio-single:hover .button {
    bottom: 0;
  }
  
  #portfolio .portfolio-hover .button .primary, #portfolio .portfolio-hover .button a {
    color: #333;
    background: #fff;
    display: inline-block;
    margin: 0 5px;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
  
  #portfolio .portfolio-hover .button a:hover, #portfolio .portfolio-hover .button .primary:hover {
    background: #fff;
    color: var(--secondary);
  }
  
  #portfolio .button {
    text-align: center;
  }
  
  #portfolio .button .btn {
    margin-top: 60px;
    padding: 15px 38px;
    border-radius: 50px;
    font-weight: 600;
    color: var(--title);
  }
  
  #portfolio .button .btn:hover, #portfolio .button .btn:focus, #portfolio .button .btn:active {
    background: #353535;
    color: #fff;
  }
  
  #portfolio .button .btn i {
    margin-left: 5px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  
  #portfolio .button .btn:hover i {
    -webkit-animation-name: hvr-wobble-horizontal;
    animation-name: hvr-wobble-horizontal;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }
  
  /* Portfolio Archive */
  
  #portfolio.archive {
    padding: 0;
    background: #f5f5f5;
  }
  
  #portfolio.archive .portfolio-nav {
    margin: 18px 0px;
  }
  
  #portfolio.archive .portfolio-nav ul li {
    color: #fff;
  }
  
  #portfolio.archive .portfolio-nav ul li.active, #portfolio.archive .portfolio-nav ul li:hover {
    background: #fff;
    color: #353535;
  }
  
  #portfolio.archive .portfolio-nav ul li.active i, #portfolio.archive .portfolio-nav ul li:hover i {
    color: #353535;
  }
  
  #portfolio.archive .portfolio-nav ul li span {
    display: none;
  }
  
  #portfolio.archive .portfolio-nav ul li span::before {
    border-top-color: #fff;
  }
  
  #portfolio.archive.column-4 .portfolio-hover h4 {
    font-size: 15px;
  }
  
  #portfolio.archive.column .portfolio-inner {
    padding: 50px 0;
  }
  
  /* Portfolio Single */
  
  #portfolio.single {
    background: #f5f5f5;
  }
  
  #portfolio .portfolio-single.slider {
    background: #fff;
    padding: 10px;
  }
  
  #portfolio.single .content, .portfolio-widget {
    margin-top: 30px;
  }
  
  #portfolio.single .content h2 {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 15px;
    padding-bottom: 15px;
    font-size: 24px;
  }
  
  #portfolio.single .content h2:before {
    position: absolute;
    bottom: -2px;
    content: '';
    left: 0%;
    width: 30%;
    height: 4px;
  }
  
  #portfolio.single .content p {
    margin-bottom: 20px;
  }
  
  #portfolio.single .content p:last-child {
    margin: 0;
  }
  
  #portfolio.single .portfolio-single img {
    transform: scale(1);
  }
  
  #portfolio.single .portfolio-widget {
    padding: 20px;
  }
  
  #portfolio.single .single-widget {
    margin-bottom: 20px;
    position: relative;
    padding-left: 50px;
  }
  
  #portfolio.single .single-widget:last-child {
    margin: 0;
  }
  
  #portfolio.single .single-widget h4 {
    color: #fff;
    margin-bottom: 5px;
  }
  
  #portfolio.single .single-widget i {
    margin-right: 5px;
    position: absolute;
    left: 0;
    font-size: 20px;
    color: #fff;
    top: 12px;
  }
  
  #portfolio.single .single-widget a {
    color: #fff;
  }
  
  #portfolio.single .portfolio-single.slider .owl-nav div {
    width: 40px;
    height: 32px;
    border-radius: 0px;
    opacity: 1;
    margin: 0;
    border-right: 1px solid #fff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  
  #portfolio.single .portfolio-single.slider .owl-nav div:hover {
    background: #333;
  }
  
  #portfolio.single .portfolio-single.slider .owl-nav div:last-child {
    border: 0px;
  }
  
  #portfolio.single .owl-nav {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -40px;
  }
  
  #portfolio .portfolio-related {
    margin-top: 30px;
    cursor: pointer;
  }
  
  .isotop-active {
    display: contents;
  }
  
  .heading-logo {
    position: absolute;
    left: 50%;
    top: 82%;
    font-size: 11px;
    color: var(--subtitle);
    border-radius: 100%;
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 0;
    line-height: 20px;
    border: none;
    margin: 0.6rem 0 0 -10px;
  }
  
  .dev-project {
    display: none;
  }
  
  .show {
    display: block !important;
  }
  