/*========================
        NavBar
========================*/

.navigation {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  z-index: 4;
  background-image: linear-gradient(180deg, var(--nav-color) 15%, transparent);
}

.logo {
  height: 70px;
  z-index: 3;
}

.logo img {
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.menu-icon,
.menu-btn {
  display: none;
}

.menu li a {
  color: #ffffffcc;
}

.menu li a:hover {
  color: #46a0f5;
  transition: all ease 0.5s;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

.menu li {
  padding: 20px;
  color: var(--nav-color-text);
}

nav .menu-btn:checked ~ .menu-icon .nav-icon:before {
  transform: rotate(-45deg);
  top: 0px;
}

nav .menu-btn:checked ~ .menu-icon .nav-icon:after {
  transform: rotate(45deg);
  top: 0px;
}

nav .menu-btn:checked ~ .menu {
  display: block;
}

nav .menu-icon .nav-icon {
  background-color: var(--nav-color-secoundary);
  display: block;
  position: relative;
  height: 2px;
  transition: 0.2s ease-out;
  width: 25px;
}

nav .menu-icon .nav-icon:before,
nav .menu-icon .nav-icon:after {
  background-color: var(--nav-color-secoundary);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all ease-out 0.2s;
  width: 100%;
}

nav .menu-icon .nav-icon:before {
  top: 5px;
}

nav .menu-icon .nav-icon:after {
  top: -5px;
}

nav .menu-icon .nav-icon,
nav .menu-icon:checked ~ .menu-icon .nav-icon {
  background-color: transparent;
}
